/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2,p,div,ul,li {
  margin: 0;
  padding: 0;
}
#content {
  padding-bottom: 20px;
}
.navigation_bg {
  background-color: #00395d;
}
nav.navbar {
  border-radius: 0;
}
.navbar-brand {
  padding: 2px 0;
  height: auto;
  img {
    display: inline-block;
    width: 70px;
    margin-right: 5px;
    padding: 4px;
    background-color: #FFF;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
  }
}
h1 {
  margin: 10px 0;
  font-size: 2rem;
}
.btn {
  margin-right: 10px;
  padding: 3px 15px;
  border: solid 1px #347BB7;
  border-radius: 0.25rem;
  background-color: #FFF;
  &:hover {
    color: #347BB7;
    background-color: #D7E2EA;
  }
}
form input[readonly = readonly] {
  border: none;
}
table {
  table-layout: fixed;
  width: 100%;
  margin: 0 0 20px;
  border-left: solid 1px #C8CDD0;
  border-top: solid 1px #C8CDD0;
  th {
    padding: 5px;
    text-align: center;
    border-right: solid 1px #C8CDD0;
    border-bottom: solid 1px #C8CDD0;
    background-color: #EEF0F1;
  }
  td {
    padding: 5px;
    border-right: solid 1px #C8CDD0;
    border-bottom: solid 1px #C8CDD0;
  }
}
