- if admin?
  %h1 メンバー一覧（管理者のみ）

  .table-responsive
    %table
      %thead
        %tr
          %th ID
          %th 名前
      %tbody
        - @members.each do |member|
          %tr
            %td= member.id
            %td= member.name
  = link_to '申請一覧（ダウンロード）', member_shift_requests_path(@member), class: "btn"
